.img-tam {
    height: 80%;
    width: 70vh;
}


/* Estilos para el mapa */

agm-map {
    height: 100%;
}

height-mapa {
    height: 100%;
}

.alertas {
    position: relative;
    width: 90%;
    float: right;
    height: 100vh;
}

.alertas .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}