<div class="row">
    <div class="col-12 col-md-6 height-fragment padre">
        <div class="hijo">
            <div class="row">
                <div class="col-md-12">
                    <div class="card shadow-sm border">

                        <!-- INFORMACIÓN DEL COMERCIO -->

                        <div class="card-body">
                            <div class="row">
                                <div class="col-10 p-r-0">
                                    <h5 class="font-light">Comercio: {{this.data_comercio?.nombre_comercio}}</h5>
                                    <h6 class="text-muted">Telefono: {{this.data_comercio?.telefono_fijo}}</h6>
                                    <h6 class="text-muted">{{this.data_comercio?.calle}} #{{this.data_comercio?.numero}} {{this.data_comercio?.colonia}}</h6>
                                    <h6 class="text-muted">Entre calles: {{this.data_comercio?.entre_calle_1}} y {{this.data_comercio?.entre_calle_2}}</h6>
                                    <h6 class="text-muted">C.P: {{this.data_comercio?.cp}}, {{this.data_comercio?.nombre_estado}}, {{this.data_comercio?.nombre_municipio}}</h6>
                                    <h6 class="text-muted">Fachada: {{this.data_comercio?.fachada}}</h6>
                                </div>
                                <div class="col-2 text-right align-self-center">
                                    <div>
                                        <h2><i class="mdi mdi-store"></i></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card shadow-sm border">

                        <!-- INFORMACIÓN DEL USUARIO -->

                        <div class="card-body">
                            <div class="row">
                                <div class="col p-r-0">
                                    <h5 class="font-light">{{this.data_usuario_comercio?.nombres_usuarios_app}} {{this.data_usuario_comercio?.apell_pat}} {{this.data_usuario_comercio?.apell_mat}}</h5>
                                    <h6 class="text-muted">Telefono: {{this.data_usuario_comercio?.tel_movil}}</h6>
                                </div>
                                <div class="col text-right align-self-center">
                                    <div>
                                        <h2><i class="mdi mdi-account"></i></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card shadow-sm border">
                        <div class="card-body">

                            <!-- ENCABEZADO DEL REPORTE -->

                            <div class="row">
                                <div class="col-6 p-r-0">
                                    <h5 class="font-light">Folio: 00{{ this.data_reporte?.id_reporte}}</h5>
                                </div>
                                <div class="col-6 p-r-0">
                                    <h5 class="font-light text-right">{{ this.data_reporte?.fecha_hora_ataq | date:'dd-MM-yyyy hh:mm:ss'}}</h5>
                                </div>
                            </div>

                            <!-- FORMULARIO DE ENVIO  -->

                            <div class="row">
                                <form class="col-12" #data="ngForm" (ngSubmit)="guardarCampos(data)">
                                    <div class="row justify-content-between">
                                        <div class="col">
                                            <!-- requiered -->
                                            <select *ngIf="clasificacion" [(ngModel)]="selectedClasificacion" (change)="onSelectClasificacion($event.target.value)" class="form-control my-1" id="clasificacion" name="clasificacion"> 
                                                <option value="0">SELECCIONE CLASIFICACIÓN</option>
                                                <option *ngFor="let clasif of clasificacion"
                                                        value="{{clasif.id_clasificacion}}"> 
                                                        {{clasif.clasificacion}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row justify-content-between">
                                        <div class="col">
                                            <select *ngIf="filtro_subclasificacion" [(ngModel)]="selectedSubclasificacion" (change)="onSelectSubclasificacion($event.target.value)" class="form-control my-1" id="subclasificacion" name="subclasificacion">
                                                <option value="0">SELECCIONE SUBCLASIFICACIÓN</option>
                                                <option *ngFor="let subcl of filtro_subclasificacion"
                                                        value="{{subcl.id_subclasificacion}}">
                                                        {{subcl.subclasificacion}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row justify-content-between">
                                        <div class="col">
                                            <select *ngIf="filtro_incidentes" [(ngModel)]="selectedIncidente" (change)="onSelectIncidente($event.target.value)" class="form-control  my-1" id="incidente" name="incidente">
                                                <option value="0">SELECCIONE INCIDENTE</option>
                                                <option *ngFor="let incid of filtro_incidentes"
                                                        value="{{incid.id_incidente}}">
                                                        {{incid.incidente}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <input ngModel name="cierre" class="form-control  my-1" type="text" placeholder="Cierre" name="cierre" ngModel>
                                        </div>
                                        <div class="col-6">
                                            <input list="unidades" class="form-control  my-1" type="text" placeholder="Unidad atendida" name="unidad" ngModel>
                                            <datalist id="unidades"> 
                                                <option value="Internet Explorer">
                                                <option value="Firefox">
                                                <option value="Google Chrome">
                                                <option value="Opera">
                                                <option value="Safari">
                                            </datalist>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!-- <div class="col-6">
                                            <select class="col-12 form-control" multiple>
                                                        <option value ="none">21:13:50 - Lorem ipsum dolor sit amet.</option>
                                                        <option value ="none">21:13:50 - Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel repellendus totam modi! Rem, consequatur nisi dicta quia vel assumenda officiis.</option>
                                                    </select>
                                        </div> -->
                                        <div class="col-12">
                                            <textarea class="form-control" rows="2" placeholder="Notas" name="notas" ngModel></textarea>
                                            <div class="row">
                                                <!-- <div class="col-7">
                                                    <button class="btn btn-info col-12 btn-sm">Agregar nota</button>
                                                </div> -->
                                                <div class="col-12 mb-1 text-center">
                                                    <button class="btn btn-success" type="submit">Terminar reporte</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <!-- TERMINA FORMULARIO  -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 height-fragment padre">
        <div class="hijo">

            <!-- CAROUSEL DE IMAGENES -->

            <div id="carouselExAdminProIndicators2" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" *ngFor="let x of this.wsService.imagenes;let i = index" [attr.data-slide-to]="i" ngClass="i == 0 ? 'active' : ''"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div *ngFor="let j of this.wsService.imagenes; let k = index" [ngClass]="k == 0 ? 'carousel-item active' : 'carousel-item'">
                        <img class="img-fluid img-tam" [src]="generarRuta(j.ruta)" alt="First slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h3 class="text-white">{{j.fechahora_captura | date:'hh:mm:ss'}}</h3>
                        </div>
                    </div>

                </div>
                <a class="carousel-control-prev" href="#carouselExAdminProIndicators2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExAdminProIndicators2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <div *ngIf="this.wsService.imagenes.length === 0" id="carouselExAdminProIndicators2" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" ngClass="i == 0 ? 'active' : ''"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div>
                            <img class="img-fluid img-tam" src="../../../assets/images/no_results_found.png" alt="First slide">
                        </div>
                    </div>

                </div>

                <!-- TERMINA CAROUSEL -->
            </div>
        </div>
    </div>

</div>
<div class="row mb-5">

    <!-- MAPA -->

    <div class="col-12 col-md-6 mb-3">
        <!-- <agm-map [latitude]="this.latitudComercio" [longitude]="this.longitudComercio" [zoom]="15" *ngIf="(this.latitudComercio != null && this.longitudComercio != null) || (this.latitudActual != 0.0 && this.longitudActual != 0.0)">
            <agm-marker [latitude]="this.latitudComercio" [longitude]="this.longitudComercio">
            </agm-marker>
            <agm-marker *ngIf="this.latitudActual != 0.0." [latitude]="this.latitudActual" [longitude]="this.longitudActual">
            </agm-marker>
        </agm-map> -->
        <div class="form-group row justify-content-end mr-2 mt-3" *ngIf="(this.latitudComercio != null && this.longitudComercio != null) && (this.latitudActual != 0.0 && this.longitudActual != 0.0)">
            <div class="col-4">
                <input class="form-control" type="number" name="distancia" disabled [ngModel]="this.distancia">
            </div>
            <p class="col-2 col-form-label text-white bg-success" *ngIf="this.metrosKilometros === 'Metros'">Metros</p>
            <p class="col-2 col-form-label text-white bg-danger" *ngIf="this.metrosKilometros === 'Kilometros'">Km</p>
            <!-- <div class="p-3 mb-2 bg-danger text-white">{{this.metrosKilometros}}</div> -->
        </div>
    </div>

    <!-- TABLA DE AUDIOS  -->

    <div class="col-12 col-md-6 mb-3">
        <div>
            <div class="table-responsive bg-white">
                <table id="demo-foo-row-toggler" class="table table-bordered" data-toggle-column="first">
                    <thead>
                        <tr>
                            <th class="">Hora</th>
                            <th class="col">Audio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-expanded="true" *ngFor="let aud of this.wsService.audios">
                            <td>{{aud.fechahora_captura | date:'hh:mm:ss'}}</td>
                            <td class="col">
                                <audio class="col" controls>
                                    <source [src]="generarRuta(aud.ruta)" type="">
                                </audio>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>