<header class="topbar">

    <nav class="navbar top-navbar navbar-expand-lg navbar-light" style="background-color:  rgb(58, 61, 71)">
        <div class="navbar-header" style="background-color:  rgb(86,90,105)">
            <a class="navbar-brand" href="index.html">
                <b>
                    <h3 class="h6 text-white m-0 p-0 ml-1">ALERTAS DE PÁNICO</h3>
                  
                </b><span>
            </span> </a>
        </div>
        <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto">
            </ul>
            <ul class="navbar-nav my-lg-0">
                <li class="nav-item hidden-xs-down search-box"> <a class="nav-link py-0 hidden-sm-down waves-effect waves-dark " [routerLink]="['/']">ALERTAS</a>
                </li>
                <li class="nav-item hidden-xs-down search-box"> <a class="nav-link py-0 hidden-sm-down waves-effect waves-dark" [routerLink]="['/reportes']">BUSCAR</a>
                </li>
                <li class="nav-item hidden-xs-down search-box"> <a class="nav-link py-0 hidden-sm-down waves-effect waves-dark" [routerLink]="['/login']" (click)="cerrarSesion()">SALIR</a>
                </li>
                <div class="alerta-status alert text-center m-0" *ngIf="_ws.socketStatus">
                    <img src="../../../assets/images/foco_amarillo_3.png" alt="">
                </div>
                <div class="alerta-status alert text-center m-0" *ngIf="!_ws.socketStatus">
                    <img src="../../../assets/images/foco_rojo_3.png" alt="" data-target="#staticBackdrop">
                </div>
            </ul>
        </div>
    </nav>

    <div class="row justify-content-end">
        <div class="alert alert-danger alert-dismissible col-5 fade show" *ngIf="!_ws.socketStatus" role="alert">
            <strong>¡Sin conexión!</strong> No existe una conexión valida con el servidor. Favor de comunicarse con el administrador.

        </div>
    </div>
</header>