<div class="table-responsive bg-white">
    <table id="demo-foo-row-toggler" class="table table-bordered" data-toggle-column="first">
        <thead>
            <tr>
                <th class="">Hora</th>
                <th class="col">Audio</th>
            </tr>
        </thead>
        <tbody>
            <tr data-expanded="true">
                <td>21:43:20</td>
                <td class="col">
                    <audio class="col"  controls>
                        <source  src="./assets/test/audio.mp3" type="">
                    </audio>
                </td>
            </tr>
            <tr data-expanded="true">
                <td>21:43:20</td>
                <td class="col">
                    <audio class="col"  controls>
                        <source  src="./assets/test/audio.mp3" type="">
                    </audio>
                </td>
            </tr>
            <tr data-expanded="true">
                <td>21:43:20</td>
                <td class="col">
                    <audio class="col"  controls>
                        <source  src="./assets/test/audio.mp3" type="">
                    </audio>
                </td>
            </tr>
            <tr data-expanded="true">
                <td>21:43:20</td>
                <td class="col">
                    <audio class="col"  controls>
                        <source  src="./assets/test/audio.mp3" type="">
                    </audio>
                </td>
            </tr>
            <tr data-expanded="true">
                <td>21:43:20</td>
                <td class="col">
                    <audio class="col"  controls>
                        <source  src="./assets/test/audio.mp3" type="">
                    </audio>
                </td>
            </tr>
            <tr data-expanded="true">
                <td>21:43:20</td>
                <td class="col">
                    <audio class="col"  controls>
                        <source  src="./assets/test/audio.mp3" type="">
                    </audio>
                </td>
            </tr>

            <tr data-expanded="true">
                <td>21:43:20</td>
                <td class="col">
                    <audio class="col"  controls>
                        <source  src="./assets/test/audio.mp3" type="">
                    </audio>
                </td>
            </tr>
            <tr data-expanded="true">
                <td>21:43:20</td>
                <td class="col">
                    <audio class="col"  controls>
                        <source  src="./assets/test/audio.mp3" type="">
                    </audio>
                </td>
            </tr>
            <tr data-expanded="true">
                <td>21:43:20</td>
                <td class="col">
                    <audio class="col"  controls>
                        <source  src="./assets/test/audio.mp3" type="">
                    </audio>
                </td>
            </tr>
            <tr data-expanded="true">
                <td>21:43:20</td>
                <td class="col">
                    <audio class="col"  controls>
                        <source  src="./assets/test/audio.mp3" type="">
                    </audio>
                </td>
            </tr>
            <tr data-expanded="true">
                <td>21:43:20</td>
                <td class="col">
                    <audio class="col"  controls>
                        <source  src="./assets/test/audio.mp3" type="">
                    </audio>
                </td>
            </tr>
            <tr data-expanded="true">
                <td>21:43:20</td>
                <td class="col">
                    <audio class="col"  controls>
                        <source  src="./assets/test/audio.mp3" type="">
                    </audio>
                </td>
            </tr>
        </tbody>
    </table>
</div>