<section id="wrapper" class="login-register login-register" style="background-image:url(../assets/images/background/login-register.jpg">
    <div class="login-box card">
        <div class="card-body">
            <div class="row mb-2">
                <div class="col-12 text-center">
                    <img src="../../../assets/images/background/alert.png" alt="" height="50px" width="50px">
                </div>
            </div>
            <form class="form-horizontal form-material" (ngSubmit)="login(f)" #f="ngForm" id="loginform" action="index.html">
                <!-- <a href="javascript:void(0)" class="text-center db"><img src="./assets/images/logo-icon.png" alt="Home" /><br/><img src="./assets/images/logo-text.png" alt="Home" /></a> -->
                <h4 class="h4 text-center text-secondary">Iniciar sesión</h4>
                <div class="form-group mt-2">
                    <div class="col-xs-12">
                        <span *ngIf="f.submitted && f.controls['usuario'].errors" class="text-danger animated fadeIn">El usuario es obligatorio</span>
                        <input name="usuario" class="form-control" type="text" [(ngModel)]="usuario.usuario" required="" placeholder="Usuario">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <span *ngIf="f.submitted && f.controls['contrasena'].errors" class="text-danger animated fadeIn">La contraseña es obligatoria</span>
                        <input name="contrasena" class="form-control" type="password" [(ngModel)]="usuario.contrasena" required="" placeholder="Contraseña">
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-outline-danger btn-md btn-block" type="submit">Comenzar </button>
                        <!-- <button class="btn btn-outline-secondary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Registrar</button> -->

                    </div>
                </div>


            </form>

        </div>
    </div>
</section>