<div class="row">
    <div class="col-md-12">
        <div class="card shadow-sm border">
            <div class="card-body">
                <div class="row">
                    <div class="col-10 p-r-0">
                        <h5 class="font-light">Ferreteria pinturas y accesorios S.A DE C.V Durango dgo</h5>
                        <h6 class="text-muted">Telefono: 6181326578</h6>
                        <h6 class="text-muted">Privada Bilbao #111 Fraccionamiento Arantzazu</h6>
                        <h6 class="text-muted">Entre calles: Lorem ipsum dolor sit amet consectetur adipisicing elit.</h6>
                        <h6 class="text-muted">C.P: 34000, Durango, Durango</h6>
                        <h6 class="text-muted">Fachada: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi error nisi tempore rem id voluptatibus rerum neque voluptatum expedita eius?</h6>
                    </div>
                    <div class="col-2 text-right align-self-center">
                        <div><h2><i class="mdi mdi-store"></i></h2></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card shadow-sm border">
            <div class="card-body">
                <div class="row">
                    <div class="col p-r-0">
                        <h5 class="font-light">Nombre de Victima</h5>
                        <h6 class="text-muted">Telefono: 6181326578</h6></div>
                    <div class="col text-right align-self-center">
                        <div><h2><i class="mdi mdi-account"></i></h2></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card shadow-sm border">
            <div class="card-body">
                <div class="row">
                    <div class="col-6 p-r-0">
                        <h5 class="font-light">Folio: 00103</h5>
                    </div>
                    <div class="col-6 p-r-0">
                        <h5 class="font-light text-right">20:16 26/10/2019</h5>
                    </div>
                </div>
                <div class="row"> 
                    <form class="col-12" #data="ngForm" (ngSubmit)="guardarCampos(data)">
                        <div class="row justify-content-between">
                            <div class="col-6">
                                <select class="form-control  my-1" id="incidentes">
                                    <option>Seleccione incidente</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <select class="form-control my-1" id="clasificacion">
                                    <option>Clasificación</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <input ngModel name="cierre" class="form-control  my-1" type="text" placeholder="Cierre">
                            </div>
                            <div class="col-6">
                                <input list="unidades" class="form-control  my-1" type="text" placeholder="Unidad atendida">
                                <datalist id="unidades">
                                    <option value="Internet Explorer">
                                    <option value="Firefox">
                                    <option value="Google Chrome">
                                    <option value="Opera">
                                    <option value="Safari">
                                </datalist>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <select class="col-12 form-control" name="fruit" multiple>
                                    <option value ="none">21:13:50 - Lorem ipsum dolor sit amet.</option>
                                    <option value ="none">21:13:50 - Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel repellendus totam modi! Rem, consequatur nisi dicta quia vel assumenda officiis.</option>
                                </select> 
                            </div>
                            <div class="col-6">
                                <textarea class="form-control" rows="2"></textarea>
                                <div class="row">
                                    <div class="col-7">
                                        <button class="btn btn-info col-12">Agregar nota</button>
                                    </div>
                                    <div class="col-5">
                                        <button class="btn btn-success col-12" type="submit">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>