<div class="row">
    <div class="col">
        <div class="wrapper">
            <!--Top menu -->
            <div class="sidebar pt-3">
                <ul id="sidebarnav" *ngFor="let alerta of wsService.alertas; let i = index">
                    <!-- Roja, es alerta nueva y se puede abrir -->
                    <li *ngIf="alerta.estatus_actual == 0" (click)="abrirNuevaPeticion(alerta.id_reporte, alerta.estatus_actual, 1)">
                        <a class="text-danger text-center" aria-expanded="false">
                            <span class="badge badge-danger px-2 py-2 ml-2">{{alerta.id_reporte | number:
                                '3.0-3'}}</span>
                            <span class="hide-menu"> {{alerta.abrev_grupo}}</span>
                        </a>
                    </li>

                    <!-- Verde, le pertenece al usuario y se puede abrir -->
                    <li *ngIf="validarColor(alerta.id_user_cc, alerta.estatus_actual)" (click)="abrirPeticion(alerta.id_reporte)">
                        <!-- ORIGINAL -->
                        <!-- <a class=" text-success text-center" aria-expanded="false">
                            <span class="hide-menu"> {{alerta.abrev_grupo}}
                                <span class="badge badge-success px-2 py-2 ml-2" >{{alerta.id_reporte | number:
                                    '3.0-3'}}</span>
                            </span>
                        </a> -->
                        <a class=" text-success text-center" aria-expanded="false">
                            <span class="badge badge-success px-2 py-2 ml-2">{{alerta.id_reporte | number:
                                '3.0-3'}}</span>
                            <span class="hide-menu"> {{alerta.abrev_grupo}}</span>
                        </a>
                    </li>


                    <!-- Amarillo, le pertenece a alguin mas y no se puede abrir -->
                    <li *ngIf="alerta.estatus_actual == 1 && idUsuarioNIT != alerta.id_user_cc || alerta.estatus_actual == 3 && (idUsuarioNIT != alerta.id_user_cc && alerta.id_user_cc != 1)">
                        <a class="text-warning text-center" href="#" aria-expanded="false">
                            <span class="badge badge-warning px-2 py-2 ml-2 text-white">{{alerta.id_reporte | number:
                                '3.0-3'}}</span>
                            <span class="hide-menu"> *{{alerta.abrev_grupo}}</span>
                        </a>
                    </li>

                    <!-- Negro, el usuario canceló la alerta -->
                    <li *ngIf="alerta.estatus_actual == 3 && alerta.id_user_cc == 1" (click)="abrirNuevaPeticion(alerta.id_reporte, alerta.estatus_actual, 3)">
                        <a class="text-dark text-center" aria-expanded="false">
                            <span class="badge badge-dark px-2 py-2 ml-2">{{alerta.id_reporte | number: '3.0-3'}}</span>
                            <span class="hide-menu">{{alerta.abrev_grupo}}</span>
                        </a>
                    </li>

                    <!-- Azul, es mía y el resto la ven amarilla -->
                    <li *ngIf="alerta.estatus_actual == 3 && idUsuarioNIT == alerta.id_user_cc" (click)="abrirPeticion(alerta.id_reporte)">
                        <a class="text-info text-center" aria-expanded="false">
                            <span class="badge badge-info px-2 py-2 ml-2">{{alerta.id_reporte | number:'3.0-3'}}</span>
                            <span class="hide-menu">{{alerta.abrev_grupo}}</span>
                        </a>
                    </li>



                </ul>

            </div>

        </div>
    </div>

    <!-- <div class="col-sm-6">
        <div class="wrapper">
            <div class="sidebar">
                <ul id="sidebarnav" *ngFor="let alerta of wsService.alertas; let i = index">
                    <li *ngIf="alerta.estatus_actual == 0" (click)="abrirNuevaPeticion(alerta.id_reporte, alerta.estatus_actual, 1)">
                        <a class="text-danger" aria-expanded="false">
                            <span class="hide-menu"> {{alerta.id_reporte | number: '3.0-3'}}
                            </span>
                        </a>
                    </li>

                    <li *ngIf="validarColor(alerta.id_user_cc, alerta.estatus_actual)" (click)="abrirPeticion(alerta.id_reporte)">
                        <a class=" text-success" aria-expanded="false">
                            <span class="hide-menu"> {{alerta.id_reporte | number: '3.0-3'}}
                            </span>
                        </a>
                    </li>


                    <li *ngIf="alerta.estatus_actual == 1 && idUsuarioNIT != alerta.id_user_cc || alerta.estatus_actual == 3 && (idUsuarioNIT != alerta.id_user_cc && alerta.id_user_cc != 1)">
                        <a class="text-warning" href="#" aria-expanded="false">
                            <span class="hide-menu"> {{alerta.id_reporte | number: '3.0-3'}}
                            </span>
                        </a>
                    </li>

                    <li *ngIf="alerta.estatus_actual == 3 && alerta.id_user_cc == 1" (click)="abrirNuevaPeticion(alerta.id_reporte, alerta.estatus_actual, 3)">
                        <a class="text-dark" aria-expanded="false">
                            <span class="hide-menu"> {{alerta.id_reporte | number: '3.0-3'}}
                            </span></a>
                    </li>

                    <li *ngIf="alerta.estatus_actual == 3 && idUsuarioNIT == alerta.id_user_cc" (click)="abrirPeticion(alerta.id_reporte)">
                        <a class="text-info" aria-expanded="false"><span class="hide-menu"> {{alerta.id_reporte |
                                number: '3.0-3'}}
                            </span></a>
                    </li>



                </ul>

            </div>

        </div>
    </div> -->

</div>
<!-- <section class="alertas">
    <div class="container">
        <app-nopagefound></app-nopagefound>
    </div>
</section> -->

<!-- <aside class="left-sidebar">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav" style="background-color: rgb(86,90,105);">
            <ul id="sidebarnav" *ngFor="let alerta of wsService.alertas; let i = index">
                Roja, es alerta nueva y se puede abrir
                <li *ngIf="alerta.estatus_actual == 0" (click)="abrirNuevaPeticion(alerta.id_reporte, alerta.estatus_actual, 1)">
                    <a class="has-arrow waves-effect waves-dark text-danger font-weight-bold" aria-expanded="false">
                        <span class="hide-menu"> {{alerta.abrev_grupo}} - {{alerta.id_reporte | number: '3.0-3'}}<span class="label label-rouded label-themecolor pull-right">{{alerta.botonazos}}</span></span>
                    </a>
                </li>

                Verde, le pertenece al usuario y se puede abrir
                <li *ngIf="validarColor(alerta.id_user_cc, alerta.estatus_actual)" (click)="abrirPeticion(alerta.id_reporte)">
                    <a class="has-arrow waves-effect waves-dark text-success font-weight-bold" aria-expanded="false">
                        <span class="hide-menu"> {{alerta.abrev_grupo}} - {{alerta.id_reporte | number: '3.0-3'}}
                            <span class="label label-rouded badge-success pull-righ">{{alerta.botonazos}}

                            </span>
                        </span>
                    </a>
                </li>

                Amarillo, le pertenece a alguin mas y no se puede abrir
                <li *ngIf="alerta.estatus_actual == 1 && idUsuarioNIT != alerta.id_user_cc || alerta.estatus_actual == 3 && (idUsuarioNIT != alerta.id_user_cc && alerta.id_user_cc != 1)">
                    <a class="waves-effect waves-dark text-warning" href="#" aria-expanded="false">
                        <span class="hide-menu"> {{alerta.abrev_grupo}} - {{alerta.id_reporte | number: '3.0-3'}}
                            <span class="label label-rouded badge-warning pull-right">{{alerta.botonazos}}

                            </span>
                        </span>
                    </a>
                </li>

                Negro, el usuario canceló la alerta
                <li *ngIf="alerta.estatus_actual == 3 && alerta.id_user_cc == 1" (click)="abrirNuevaPeticion(alerta.id_reporte, alerta.estatus_actual, 3)">
                    <a class="has-arrow waves-effect waves-dark text-dark" aria-expanded="false"><span class="hide-menu"> {{alerta.abrev_grupo}} - {{alerta.id_reporte | number: '3.0-3'}}
                        <span class="label label-rouded badge-dark pull-right">{{alerta.botonazos}}</span></span></a></li>

                Azul, es mía y el resto la ven amarilla
                <li *ngIf="alerta.estatus_actual == 3 && idUsuarioNIT == alerta.id_user_cc" (click)="abrirPeticion(alerta.id_reporte)">
                    <a class="has-arrow waves-effect waves-dark text-info font-weight-bold" aria-expanded="false"><span class="hide-menu"> {{alerta.abrev_grupo}} - {{alerta.id_reporte | number: '3.0-3'}}
                        <span class="label label-rouded badge-info pull-right">{{alerta.botonazos}}</span></span></a></li>



            </ul>
        </nav>
    </div>
</aside> -->